.mobile-menu {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition:  opacity 0.3s ease, visibility 0.3s ease;
    &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: #ffffff;
    }
        
    &::before {
        right: 100%;
        transition: right 0.3s ease;
    }
        
    &::after {
        left: 100%;
        transition: left 0.3s ease;
    }

    &__list {
        list-style: none;
        opacity: 0;
        transform: scale3d(0,0,0);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
        
    &__item {
        display: block;
    }
        
    &__link {
        display: block;
        color: #ffffff;
        margin: 10vh 0;
        text-align: center;
        text-decoration: none;
        color: $white;
        font-family: 'Montserrat';
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        &::after {
            opacity: 0;
            background-color: #ffffff;
            transition: opacity  0.3s ease;
        }
            
        &:hover::after {
            opacity: 1;
        }
            
    }

    &--active {
        opacity: 1;
        visibility: visible;
        transition:  opacity 0.3s ease, visibility 0.3s ease;
        &::before { 
            right: 50%;
        }
            
        &::after {
            left: 50%;
        }
            
        .mobile-menu__list {
            opacity: 1;
            transform: scale3d(1,1,1);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }   
    }
}

@media screen and (max-width: 1020px) {
    .mobile-menu {
        display: flex;
    }
}