@mixin font-face($font-family, $url, $font-weight: null, $font-style: null) {
	@font-face {
		font-family: $font-family;
		src: url('assets/fonts/#{$url}.eot');
		src: url('assets/fonts/#{$url}.eot?#iefix') format('embedded-opentype'),
		     url('assets/fonts/#{$url}.woff') format('woff'),
		     url('assets/fonts/#{$url}.ttf') format('truetype'),
		     url('assets/fonts/#{$url}.svg') format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
	}
}